@import "partials/normalize";
@import "partials/nav";
@import "partials/content";

body{
     background: black;

     button{
            border: none;
            border-radius: 10px;
            padding: 5px 7px 5px 7px;
     }
     p{
       line-height: 25px;
     }
}
