nav{
    width: 100%;
    background: lightblue;
    padding: 10px 0px 10px 10px;
button{
       background: white;
       color: red;
       outline: none;
}
.help{
      position: relative;
}
.js-reset{
          float: right;
          margin-right: 12px;
}
}
